{% extends 'base.html.twig' %}

{% block title %}Confirmation
{% endblock %}

{% block body %}
	<header class="home-theme">
		{% include 'component/_header.html.twig' %}
	</header>

	<div class="example-wrapper mx-auto">
		<i class="fas fa-check-circle"></i>
		<p>Félicitations, vous êtes inscrit sur Eventoo</p>
		<p>Vous pouvez maintenant :</p>
		<ul>
			<li>Créer un journal et inviter des proches</li>
		</ul>
		<p>Pour plus de fonctionnalités, vous pouvez choisir un abonnement</p>

		<div class="continue d-flex p-2 justify-content-between">
			<a href="#">
				<p class="p-3">Créer un abonnement</p>
			</a>
			<a href="{{ path('home_index') }}">
				<p class="p-3">Continuer sans abonnement</p>
			</a>
		</div>

	</div>
{% endblock %}
