{% extends 'base.html.twig' %}

{% block title %}Mariage - Journal{% endblock %}

{% block body %}

    {# /// message form /// #}
    {% include "component/_messageForm.html.twig" %}

    {# /// messages display /// #}
    <div class="diary-messages-list">
        <div class="diary-messages-title">Les publications :</div>

        {% for message in messagesList %}
            {{ include('component/_messageDisplay.html.twig', {message: message}) }}
        {% endfor %}
    </div>

{% endblock %}