{% extends "@EasyAdmin/page/content.html.twig" %}

{% block stylesheets %}
<link href="/public/build/app.css" rel="stylesheet">
{% endblock %}

{% block content %}
   <div class="dashboard">
      <p>Tableau de bord</p>
   </div>

{% endblock %}
