{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>Bienvenue sur l'interface d'administration du site Eventoo</h1>
    </div>
{% endblock %}
