{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<div class="textes">

		<p>Textes</p>

		{{ form(form) }}
        <button class="btn btn-primary text-white col-12 my-4 fs-4 py-1" type="submit">
            Enregistrer
        </button>
	</div>

{% endblock %}
