@import "variables.scss";
@import "custom.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import 'variables.scss';
@import 'diary.scss';
@import 'createDiary.scss';
@import "header.scss";
@import "home.scss";
@import "wedding.scss";
@import "footer.scss";

* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}
