@import "variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "header.scss";
@import "custom.scss";
@import "diary.scss";
@import "createDiary.scss";
@import "nav.scss";
@import "home.scss";
@import "wedding.scss";
@import "mourning.scss";
@import "birthday.scss";
@import "birth.scss";
@import "other.scss";
@import "confirm.scss";
@import "footer.scss";
@import "profile.scss";


@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "poppinsregular";
}
