.fa-check-circle{
    color: green;
    font-size: 10rem;
}

.example-wrapper{
    min-height: 100vh;
    margin-top: 5rem;
    max-width: 500px;
}

.continue p{
    background-color: $black;
    color: $white;
}