
.body-diary {
    background: #FAF9F7;
    font-family: "poppinsregular";
}

#event-diaryWedding {
    background-image: url(/public/build/images/banner/diaryWedding.64549f90.png);
    background-position: center;
    background-size: cover;
  }

  .width-cover {
    width: 90%;
    height: 297px;
    padding: 0 !important;
  }
  
  .width-page {
    width: 90%;
    padding: 0 !important;
    margin: auto;
  }
  
  .width-col {
    width: 36%;
    display: flex;
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #faf9f7;
    min-height: 500px;
  }
  
  .width-center {
    width: 64%;
    display: flex;
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #faf9f7;
    min-height: 500px;
  }
  
  .col-diary {
    background-color: white;
    border: 0.5px solid #c4c4c4;
    border-radius: 10px;
    width: 100%;
    margin: 20px 0;
    min-height: 62px;
    justify-content: center;
  }
  
  .col-diary img {
    //width: 50px;
    padding: 10px;
    float: left;
  }
  
  .col-diary p {
    margin-bottom: 0;
    justify-content: center;
  }
  
  .col-diary-transparence {
    width: 100%;
    margin: 20px 0;
    min-height: 62px;
    justify-content: center;
  }
  
  .height-btn {
    height: 62px;
  }
  
  .content-post {
    background-color: white;
    border: 0.5px solid #c4c4c4;
    border-radius: 10px;
    width: 96%;
    height: 149px;
    margin: auto;
    margin-top: 20px;
  }
  
  .content-diary {
    background-color: white;
    border: 0.5px solid #c4c4c4;
    border-radius: 10px;
    width: 96%;
    margin: auto;
    margin-top: 20px;
  }
  
  .img-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
  }
