/* ////// Message Form ////// */

.diary-form-control {
  margin: 0 auto;
  width: 95%;
  background-color: white;
}

.diary-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: black;

  label {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

.diary-form-head {
  display: flex;
  justify-content: space-between;

  .diary-title {
    background-color: rgb(248, 192, 120);
    color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .diary-author-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    label {
      padding-right: 10px;
      color: black;
      margin-bottom: 20px;
    }

    input {
      background-color: rgb(228, 226, 226);
      border-radius: 5px;
    }
  }
}

.diary-form-text {
  border-radius: 30px;
  height: 46px;
  padding-top: 10px;
  padding-left: 15px;
  margin-top: 1.2rem;
}

.diary-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.diary-media {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

#diary-send-btn {
  height: 50px;
  width: 50px;
  padding: 0;
  align-self: flex-end;
  border-style: none;
  background-color: white;

  img {
    height: 30px;
    width: 30px;
  }
}

/* ////// Messages Display ////// */

.diary-messages-list {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  width: 40%;
  background-color: white;
  box-shadow: 5px 5px 10px grey, -2px -2px 10px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diary-messages-title {
  background-color: rgb(248, 192, 120);
  color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  display: inline-block;
  width: 180px;
  align-items: center;
  padding: 15px 20px;
}

.diary-message {
  background-color: white;
  border: 0.5px solid #c4c4c4;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;

  .diary-message-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .diary-message-author {
      display: inline-block;
      margin-bottom: 10px;
    }

    .diary-message-media {
      text-align: center;
      img {
        width: 100%;
        object-fit: cover;
        height: 350px;
      }
    }
  }

  .diary-message-text {
    display: inline-block;
    width: 60%;
    background: rgb(199, 198, 198);
    box-shadow: 5px 5px 10px grey;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
  }

  .diary-message-text:before {
    content: "";
    position: absolute;
    right: 99%;
    top: 6px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 36px solid rgb(199, 198, 198);
    border-bottom: 13px solid transparent;
  }
}

/*///banner///*/
.buttons {
  flex-direction: column;
  margin-top: 0;
  justify-content: flex-end;
  float: right;
  border-radius: 4px;
  margin-right: 7%;
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  width: 300px;
  height: 200px;
}

.box {
  position: absolute;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  float: right;
  margin-top: 16%;
  width: 310px;
  left: 1027px;
  text-align: center;
  text-decoration-color: black;
}

.box img {
  vertical-align: middle;
  display: table-cell;
  margin: auto;
}

.diary-wrapper {
  display: flex;
  position: absolute;
  top: 425px;
  p {
    color: white; //rgb(199, 198, 198);
    font-size: xx-large;
  }
}

.fas {
  color: $wedding-main-theme;
  font-size: xx-large;
  margin: 0 1rem;
  color: white; //rgb(199, 198, 198);
}

.diary-banner {
  position: relative;

  .img {
    width: 1235px;
    height: 297px;
    left: 0px;
    top: 0px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .fas {
    color: $wedding-main-theme;
    font-size: xx-large;
    margin: 0 1rem;
  }
}

#uploadForm {
  position: absolute;
  display: flex;
  top: 225px;
  right: 130px;
}

#upload-img-banner {
  display: flex;
  top: 495px;
  justify-content: center;
}

////-box date et heure-////
.dateBox {
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;
  margin-top: -70px;
  width: 310px;
  height: 240px;
  text-align: center;
  margin-left: 10px;
}

.dateBox1 {
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;
  margin-top: 20px;
  width: 310px;
  height: 160px;
  text-align: center;
  margin-left: 25px;
}
.parent {
  flex-direction: column;
}

.btn btn-primary {
  background-color: rgb(65, 201, 225);
  color: white;
}

.body-diary {
  background-color: #faf9f7;
}
#event-diary {
  background-position: center;
  background-size: cover;
}

.width-cover {
  width: 90%;
  height: 297px;
  padding: 0 !important;
  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    padding: 0 !important;
    background-image: cover;
  }
}

.width-page {
  width: 90%;
  padding: 0 !important;
  margin: auto;
}

.width-col {
  width: 36%;
  display: flex;
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #faf9f7;
  min-height: 500px;
}

.width-center {
  width: 64%;
  display: flex;
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #faf9f7;
  min-height: 500px;
}

.col-left {
  background-color: white;
  border: 0.5px solid #c4c4c4;
  border-radius: 10px;
  width: 100%;
  margin: 20px 0;
  min-height: 62px;
}

.col-diary {
  background-color: white;
  border: 0.5px solid #c4c4c4;
  border-radius: 10px;
  width: 100%;
  margin: 20px 0;
  min-height: 62px;
  align-items: center;
}

.col-diary img {
  width: 50px;
  height: 50px;
  padding: 10px;
  float: left;
}

.col-diary p {
  margin-bottom: 0;
  justify-content: center;
  padding: 5px;
}

.inline-p p {
  display: inline;
}

.col-diary-transparence {
  width: 100%;
  margin: 20px 0;
  min-height: 62px;
  justify-content: center;
}

.col-list {
  background-color: white;
  border: 0.5px solid #c4c4c4;
  border-radius: 10px;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  min-height: 62px;
}

.inline-list {
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    padding: 10px;
    float: left;
  }
  p {
    padding-top: 10px;
  }
}

.height-btn {
  height: 62px;
  img {
    float: left;
  }
}

.content-post {
  background-color: white;
  border: 0.5px solid #c4c4c4;
  border-radius: 10px;
  width: 96%;
  height: 225px;
  margin: auto;
  margin-top: 20px;
}

.content-diary {
  background-color: #faf9f7;
  border: 0.5px;
  border-radius: 10px;
  width: 96%;
  margin: auto;
  margin-top: 30px;
}
.avatar-top{
  margin-left: 1rem;
  margin-top: 1.5rem;
}
.avatar p{
  margin-top: 2.5rem;
}

.img-avatar {
  width: 100%;
  small{
  
    color: $light-grey;
  }
  span{
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin:auto;
  }
  display: inline-flex;

}
.img-avatar img {
  border: 2px solid $primary;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.write-msg {
  width: 90%;
}

.col-content {
  padding: 10px;
}

.diary-part {
  color: #7b7b7b;
}

.p-diary p {
  margin: 0;
}

.col-right {
  padding: 20px;
}

.fa-calendar-check{
  color: $primary;
}