small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #FFFFFF !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }
 .list-unstyled{
     color:#FFFFFF;
 }
 .rowCopy{
     text-align: center;
     color:#FFFFFF;
 }
 .my-5 {
    background-color: #373737;
    margin-top: 3rem !important;
    margin-bottom: 0 !important; 
  }
  .py-5{
    padding-bottom: 0 !important;
  }