.eventoo-header {
  padding: 1rem 0;
  header {
    .fs-4 {
      text-shadow: 1px 1px 3px $black;
      font-weight: 700;
      color: $white;
    }
  }
}

.initials
{
  border-radius: 50%;
  background-color: brown;
  height: 50px;
}

span.field-icon {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 2rem;
  top: 11.5rem;
  z-index: 10;
}

#connectRS img {
  height: 2em;
  width: auto;
}

#acceptCGV {
  font-size: xx-small;
}

.toggle_btn {
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top:5px;
  cursor:pointer;
}

.toggle_btn span {
  height: 3px;
  background-color: black;
  width: 100%;
  position:absolute;
  top:20px;
  left:0;
}

.toggle_btn span::before {
  content: '';
  height: 3px;
  background-color:black;
  width: 100%;
  position:absolute;
  top:-10px;
  left:0;
}

.toggle_btn span::after {
  content: '';
  height: 3px;
  background-color:black;
  width: 100%;
  position:absolute;
  top:10px;
  left:0;
}

.menu {
  height: 100vh;
  background-color: $blueDark;
  width: 100px;
}

.nav {
  margin-left:2100px;
  transition-duration: 0.2s;
  position:fixed;
  top:0;
  height: 100%;
  z-index: 10;
}

.nav_open {
  position: absolute;
  margin-left: calc(100% - 400px);
  transition-duration: 0.2s;
  position:fixed;
  top:0;
  height: 100%;
  z-index: 10;
  width: 400px;
}

.grey {
  color: grey;
}

@media (max-width: 1000px) {
  #homeBtnDiv, #eventCreateBtnDiv, #premiumBtnDiv, .hidden-small {
    display: none!important;
  }
}

@media (max-width: 720px) {
  #registerBtnDiv, #loginBtnDiv {
    display: none!important;
  }

  #buttonNav {
    width: 25%!important;
  }
}