/*====================
    Home top section
=====================*/

.main-home{
  padding-bottom: 50px;
  width: 90%;
  margin: auto;
}
.home-top{
  position: relative;
  height: 1024px;
  color: $text-color;
  display: flex;
  .left-bg{
    position: absolute;
    left: -5%;
    z-index: -1;
  }
  .bottom-bg{
    position: absolute;
    bottom: 0;
    left: -5%;
  }
  .top-left{
    width: 50vw;
    p{
      padding: 1rem 0;
    }
    .about-us{
      span{
        font-weight: bold;
        font-size: 60px;
        line-height: 66px;
      }
      font-size: 60px;
      line-height: 66px;

    }
  }
  .top-right{
    width: 50vw;
  }
}

.home-btns{
  display: flex;
  justify-content: flex-start;
}

.common-btn{
  margin: 0 .2rem;
  height: 130px;
  width: 130px;
  background-repeat: no-repeat;
}
.btn-wedding{
  background-image: url("/public/build/images/home-buttons/wedding.2c5a2434.png");
}

.btn-wedding:hover{
  background-image: url("/public/build/images/home-buttons/wedding-h.4fe74ff0.png");
  transition: .2s;
}

.btn-birthday{
  background-image: url("/public/build/images/home-buttons/birthday.043caa8f.png");
}

.btn-birthday:hover{
  background-image: url("/public/build/images/home-buttons/birthday-h.9fb3505a.png");
  transition: .2s;
}

.btn-birth{
  background-image: url("/public/build/images/home-buttons/birth.4e61119b.png");
}

.btn-birth:hover{
  background-image: url("/public/build/images/home-buttons/birth-h.019be3e7.png");
  transition: .2s;
}

.btn-mourning{
  background-image: url("/public/build/images/home-buttons/mourning.734493a5.png");
}

.btn-mourning:hover{
  background-image: url("/public/build/images/home-buttons/mourning-h.c78c8771.png");
  transition: .2s;
}

.btn-others{
  background-image: url("/public/build/images/home-buttons/other.002360eb.png");
}

.btn-others:hover{
  background-image: url("/public/build/images/home-buttons/other-h.cad2b3c3.png");
  transition: .2s;
}

.btn-rl{
  border-radius: 39px;
  padding: .8rem 4rem;
  width: 200px;
  height: 45px;
}

.register{
  background-color: $green-main;
  color: $white;
  border: 1px solid transparent;
}

.register:hover{
  font-weight: bold;
  box-shadow: 0px 5px 5px lightgrey;
  transition: .5s;
  color: $white;
}

.login{
  border: 1px solid $black;
  color: $black;
}

.login:hover{
  border: 1px solid $green-main;
  color: $green-main;
  box-shadow: 0px 5px 5px lightgrey;
  transition: .5s;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-inner img{
  height: 1024px;
}

.carousel-indicators .active{
  color: $green-main;
}

.what-is-eventoo{
  padding: 228px 195px 132px 196px;
  min-height: 537px;

  background-color: $bg-light-beige;
  text-align: center;
}

.what-is-eventoo h1{
  margin: 1rem;
}

.what-is-eventoo span{
  font-weight: bold;
}

.what-is-eventoo p{
  padding-top: 1.5rem;
  font-style: italic;
  font-size: larger;
  width: 70%;
  margin: auto;
}

.what-happens-eventoo{
  padding-top: 2rem;
  display: flex;
  .whe-left{
    width: 50%;
    h1, p{
      padding-bottom: 2rem;
    }
    p{
      max-width: 500px ;
    }
    span{
      font-weight: bold;
    }

  }
  .whe-right{
    position: relative;
    width: 50%;
    text-align: center;
    .right-bg{
      position: absolute;
      right: 12%;
      top:20%;
      z-index: -1;
    }
  }
}

.line{
  width: 500px;
  height: 0px;
  border: 1px solid #C4C4C4;
  margin:8rem auto 5rem auto;
}

.thinking-eventoo{
  .testimonials{
    .card-testimonial{
      img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border : 2px solid $primary;
      }
      margin: 0 3rem;
      display: inline-block;
      width: 350px;
      height: 500px;
      .user-rating{
        font-weight: bold;
      }
    }

  }
  h1{
    padding-top:2rem;
    padding-bottom:1rem ;
  }
  text-align: center;
  p{
    padding: 2rem 0;
    max-width: 900px;
    margin: auto;
    font-size: x-large;
  }
  span{
    font-weight: bold;
  }
}

.home-btn{
  font-weight: bold;
  font-size: large;
  background-color: $home-beige;
  color: $black;
  padding: 1.3rem 4rem;
  border-radius: 30px;
  width: 450px;
}

.fa-star{
  color: yellow;
}

.rating{
  width: max-content;
}

.not-yellow{
  color: $light-grey;
}