.btn-security, .ident
{
    width: 285px;
    height: 45px;
}
.btn-security
{
    background: #00B2BC;
    border: 1px solid #00B2BC;
    border-radius: 22.5px;
    left: 356px;
    top: 251px;
}

.margin-2
{
    margin: 0 1rem !important;
}

.ident
{
    background: #FFFFFF;
    border: 1px solid #CBDBDB;
    box-sizing: border-box;
    border-radius: 5px;
}
