$black: #000000;
$white: #ffffff;

$home-main-theme: #556c72;
$light-grey: #eaeaea;
$bg-primary-theme: #373737;
$t-blue: #0065bd;

$wedding-main-theme : #FFECE3;
$mourning-main-theme: #CCB9AA;
$birthday-main-theme: #AA6CAD;

$btn-border-radius : 22.5px;
$background: #00B2BC;
