$black: #000000;
$white: #ffffff;

$home-main-theme: #556c72;
$light-grey: #eaeaea;
$bg-primary-theme: #373737;
$t-blue: #0065bd;

$wedding-main-theme: #ffece3;
$mourning-main-theme: #ccb9aa;
$birthday-main-theme: #aa6cad;
$primary: #10b7c0;