         <div class="row my-5 justify-content-center py-5">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                         <h3 class="text-muted mb-md-0 mb-5 bold-text">Eventoo</h3>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 bold-text "><b>Données personnelles</b></h6>
                         <ul class="list-unstyled">
                             <li>> Mentions légales</li>
                             <li>> Politique de conservation des données</li>
                             <li>> Conditions générales d'utilisation du site</li>
                         </ul>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>A propos</b></h6>
                         <ul class="list-unstyled">
                         <li>Qui sommes-nous ?<li>
                         <li>Galerie<li>
                         <li>Nous contacter<li>
                         <li>Partenaires<li>
                         <li>Newsletter<li>
                         <li>Ils parlent de nous<li>
                         <li>Plan de site<li>
                     </div>
                 </div>
                 <div class="rowCopy">      
                         <small class="rights"><span>&#174;</span> EVENTOO 2021. TOUS DROITS RESÉRVÉS</small>
                     </div>
                     
                 </div>
             </div>
         </div>
 