<button type="button" id="passwordBtn" class="btn btn-primary mx-auto d-block mt-5 visually-hidden" data-bs-toggle="modal" data-bs-target="#modalPassword">
	Bootstrap Modal popup
</button>
<div class="modal fade" tabindex="-1" id="modalPassword" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<form class="mx-auto w-100" method="post" action="{{ path('app_forgotten_password') }}">
					<div class="modal-header border-0">
						<h1 class="h3 mb-3 font-weight-normal">Renseignez votre adresse e-mail pour changer votre mot de passe</h1>
						<button type="button" id="resetBtnClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="row align-items-start mt-2">
						<div class="col">
							{{ form_row(form.email, {
                                'label_attr': {'class': 'visually-hidden'},
                                'attr': {
                                    'placeholder': 'Email',
                                    'class': 'form-control mb-3'
                                }
                            }) }}
							<button class="btn btn-primary text-white col-12 my-4 fs-4 py-1" name="submit" type="submit">
								Envoyer
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
