{# Here goes the header (nav) #}
<div class="container-fluid eventoo-header">
    <header class="d-flex flex-wrap justify-content-center py-3 px-5 ">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Even<span class="t">t</span>oo</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Comment ça marche</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Qui sommes-nous</a></li>
        <li class="nav-item"><a href="#" class="nav-link active login-btn">Se connecter / S'inscrire</a></li>
      </ul>
    </header>
  </div>