<div class="diary-message">
    <div class="diary-message-container">
        <div class="diary-message-author">
            {{ message.author }}
        </div>
        {% if message.url is not empty %}
            <div class="diary-message-media">
                <img src="{{ asset('uploads/files/' ~ message.url ~ ' ') }}" alt="">
            </div>
        {% endif %}
    </div>
    <div class="diary-message-text">
        {{ message.comment }}
    </div>
</div>