<button type="button" id="confirmBtn" class="btn btn-primary mx-auto d-block mt-5 visually-hidden" data-bs-toggle="modal" data-bs-target="#modalConfirm">
    Bootstrap Modal popup
</button>
<div class="modal fade" tabindex="-1" id="modalConfirm" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="container d-flex justify-content-center mt-3">
					<div class="card-body text-center">
						<div class="row m-2">
							<i class="fas fa-check-circle col-lg-4 col-md-3 col-sm-1 mb-2 mb-md-0 text-md-end"></i>
							<h4 class="title col-lg-8 col-md-9 col-sm-11 text-primary text-md-start">votre compte a bien été créé</h4>
						</div>
						<div class="row">
							<p class="description col-md-7 col-sm-12 mb-2 mb-md-0 text-md-end">Votre abonnement actuel :</p>
							{% if app.user %}
								<p class="subscription col-md-5 col-sm-12 fw-bold text-md-start">{{ app.user.getSubscription.name }}</p>
							{% endif %}
						</div>
						<div class="row justify-content-around">
							{% if subscriptions is defined and subscriptions %}
								{% for subscription in subscriptions %}
									<div class="card col-md-3 col-sm-8 mb-2 mb-md-0 m-1">
										<div class="card-body">
											<h6 class="card-title fw-bold">{{ subscription.name }}</h6>
											<p class="card-text">{{ subscription.price }}€ / mois</p>
											<div class="col-sm-12 mb-2 mb-md-0"> <a href="{{ path('subscription_choice', {"id": subscription.id}) }}" class="btn btn-out btn-primary btn-square btn-large text-white">Continuer</a> </div>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
